.container {
    max-width: 495px;
    margin: 0 auto;
}



.col-6 {
    display: flex;
}

.col-6 [class*="col-1"] {
    height: 20px;
    width: 20px;
}

.black {
    background-color: #262626;
}

.red {
    background-color: #E20000;
}